{% extends 'base.html' %}
{% load static %}
  {% block portfolio_section %}

<section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
          {% for project in projects %}
        <div class="col-lg-6">
          <a class="portfolio-item"  href="{% url 'project_detail' project.pk %}">
            <span class="caption">
              <span class="caption-content">
                <h2>{{ project.title }}</h2>
                <p class="mb-0">{{ project.description }}</p>
              </span>
            </span>
            <img class="img-fluid" src="{% static 'img/portfolio-1.jpg' %}" alt="">
          </a>
        </div>
{% endfor %}
      </div>

    </div>
  </section>

</div>
{% endblock %}
